<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!DOCTYPE html>
<html>
<head>
    <title>Página de Login</title>
</head>
<body sstyle="font-size:larger;">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="titulos">Logar</h3>
                </div>
                <div class="card-body">
                    <form action="~/Clientes/Logar">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="glyphicon glyphicon-user" style="font-size:15px"></i></span>
                            </div>
                            <input type="text" class="form-control"style="font-size:15px" placeholder="usúario">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="glyphicon glyphicon-lock" style="font-size:15px"></i></span>
                            </div>
                            <input type="password" class="form-control"style="font-size:15px" placeholder="senha">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-center btnLogin">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>